@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BEG YOU FILTHY HUMAN</h2>

<p>
    <a href="@Url.Action("BegForPromotion")">
        <input type="submit" class="button" value="Beg for promotion" />
    </a>
</p>

<p>
    <a href="@Url.Action("Claim")">
        <input type="submit" class="button" value="Claim VIP" />
    </a>
</p>

<p>
    Pokud se chcete stát VIP členem musíte zaslat 53 234 342 Kč na účet 125236236537/0800 a následně stisknout tlačítko. <br/>
    Poté obdržíte kod který vložíte vedle.
    <br/>
    If you want become VIP member of you must send 10€ to bank account 125236236537/0800 and then blick the button.<br/>
    Then you recieve code that you should submit.
</p>
